{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="page-login bottom-20">
        <div class="page-login-field top-15">
            <i class="fa fa-at"></i>
            <input type="text" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}" />
            <em>(required)</em>
        </div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="button bg-highlight button-full button-rounded button-s uppercase ultrabold" />
    </div>
</form>