.highlight-green .header-light .header-logo, .highlight-green .footer-dark .footer-logo {
    background-image: url(../nca/nca-logo.png);
}

.header .header-logo, .footer .footer-logo {
    background-size: 115px 40px;
}

.footer .footer-logo {
    min-height: 40px;
}

.highlight-green .bg-highlight.button {
    border-color: #5bbd12;
}

.highlight-green .bg-highlight {
    background-color: #5bbd12!important;
}

.color-green-dark, a {
    color: #5bbd12;
}

.page-content {
    padding-top: 110px;
}

.card-green {
    background-image: linear-gradient(to bottom, #5bbd12 0%, #5bbd12 100%);
}

.highlight-green .menu-dark .sidebar-logo a {
    background-image: url(../nca/nca-community.png);
}
