{% extends "base.html.twig" %}

{% block header %}
    <div class="header header-light header-static header-logo-app">
        <a href="/" class="header-title">Register</a>
        <a href="/" class="header-icon header-icon-1 back-button"><i class="fas fa-arrow-left"></i></a>
    </div>
{% endblock %}

{% block content %}
    <div class="page-login bottom-20">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock %}