{% extends 'base.html.twig' %}
{% block title %}
NCA Community
{% endblock %}

{% block content %}
    <div class="content">
        {% for tweet in tweets %}
            <div class="news-list-item">
                {{ tweet.html|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
