{% extends 'base.html.twig' %}
{% block title %}
    NCA Community
{% endblock %}

{% block content %}
    <div class="content">
        {% if tweets == false %}
            <h2>Bitte komme später wieder</h2>
        {% else %}
            {% for tweet in tweets %}
                <div class="news-list-item">
                    {{ tweet.html|raw }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}