{% extends 'base.html.twig' %}
{% block title %}
NCA Community
{% endblock %}

{% block content %}
    <div class="content">
        <div class="news-list-item">
            <a href="#">
                <img class="preload-image" src="images/empty.png" data-src="images/pictures/1s.jpg" alt="img">
                <strong>Typewritters are back, sales are going crazy!</strong>
            </a>
            <span><i class="fas fa-clock"></i>30 Dec 2019 <a href="#" class="color-highlight">Gadgets</a></span>
        </div>
        <div class="news-list-item">
            <a href="#">
                <img class="preload-image" src="images/empty.png" data-src="images/pictures/8s.jpg" alt="img">
                <strong>Macbooks now have no keyboards. Get a donggle!</strong>
            </a>
            <span><i class="fas fa-clock"></i>30 Dec 2019 <a href="#" class="color-highlight">Gadgets</a></span>
        </div>
        <div class="news-list-item">
            <a href="#">
                <img class="preload-image" src="images/empty.png" data-src="images/pictures/5s.jpg" alt="img">
                <strong>Bane's favorte fruit are market fresh strawberries</strong>
            </a>
            <span><i class="fas fa-clock"></i>30 Dec 2019 <a href="#" class="color-highlight">Nutrition</a></span>
        </div>
        <div class="news-list-item">
            <a href="#">
                <img class="preload-image" src="images/empty.png" data-src="images/pictures/7s.jpg" alt="img">
                <strong>Coffee now being used to power cars. Wait, what?!</strong>
            </a>
            <span><i class="fas fa-clock"></i>30 Dec 2019 <a href="#" class="color-highlight">Technology</a></span>
        </div>
        <div class="news-list-item bottom-0 no-border">
            <a href="#">
                <img class="preload-image" src="images/empty.png" data-src="images/pictures/5s.jpg" alt="img">
                <strong>Coffee now being used to power cars. Wait, what?!</strong>
            </a>
            <span><i class="fas fa-clock"></i>30 Dec 2019 <a href="#" class="color-highlight">Technology</a></span>
        </div>
    </div>
{% endblock %}