<!DOCTYPE html>
<html lang="de">
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" href="/nca/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/nca/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/theme/UltraMobile/code/styles/style.css">
        <link rel="stylesheet" type="text/css" href="/theme/UltraMobile/code/fonts/css/fontawesome-all.min.css">
        <link rel="stylesheet" type="text/css" href="/theme/UltraMobile/code/styles/framework.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    </head>
    <body>
        {% block body %}{% endblock %}

        <script type="text/javascript" src="/theme/UltraMobile/code/scripts/jquery.js"></script>
        <script type="text/javascript" src="/theme/UltraMobile/code/scripts/plugins.js"></script>
        <script type="text/javascript" src="/theme/UltraMobile/code/scripts/custom.js"></script>
    </body>
</html>
