{% extends 'base.html.twig' %}

{% block content %}
<div class="content">
    <h4 class="uppercase bolder">
        {% if job.id %}
            Job bearbeiten
        {% else %}
            Job anlegen
        {% endif %}
    </h4>
    <p class="bottom-15">
        Stellenausschreibungen sollen ehrlich sein und konkrete Projekte beschreiben.
    </p>
    {{ form(form) }}
</div>
{% endblock %}

